@import "tailwindcss";
@font-face {
  font-family: "FunnelSansNormal";
  src: url("./assets/Fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "FunnelSansBold";
  src: url("./assets/Fonts/Funnel_Sans/static/FunnelSans-Bold.ttf") format("truetype");
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


@theme {
  --color-main-background: #141414;
  --color-secondary-background: #ece8df;
  --color-main-text: #ece8df;
  --color-secondary-text: #69984b;
  /* #3d4790 */
  --color-link-text: #f6f4f0;
  --color-link-hover-text-color: #ece8df99;
  --color-Button-text: #141414;
  --color-black-text: #000000;
  --color-white-text: #ffffff;
}
